<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Nov 18, 2020)</h3>
    <table class="table table-striped">
      <tr> <td>Unix shell:</td>  <td>how to navigate folders</td> </tr>
      <tr> <td>Unix shell:</td>  <td>how to create and read files</td> </tr>
      <tr> <td>Unix shell:</td>  <td>how to copy, rename, and delete files and folders</td> </tr>
	  <tr> <td>Unix shell:</td>  <td>how to use wildcards</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Nov 25, 2020)</h3>
    <table class="table table-striped">
      <tr> <td>Unix shell:</td>  <td>how to use piping and redirection</td> </tr>
      <tr> <td>Unix shell:</td>  <td>how to build command pipelines</td> </tr>
      <tr> <td>Unix shell:</td>  <td>how to find things</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>Day 3 (Dec 3, 2020)</h3>
    <table class="table table-striped">
      <tr> <td>Unix shell:</td>  <td>how to use variables and loops</td> </tr>
      <tr> <td>Unix shell:</td>  <td>how to write scripts to automate tasks</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Dec 9, 2020)</h3>
    <table class="table table-striped">
      <tr> <td>GIT:</td>  <td>how to set up Git on your computer</td> </tr>
      <tr> <td>GIT:</td>  <td>how to create a repository</td> </tr>
      <tr> <td>GIT:</td>  <td>how to track changes</td> </tr>
	  <tr> <td>GIT:</td>  <td>how to explore the repository history</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>Day 5 (Dec 16, 2020)</h3>
    <table class="table table-striped">
      <tr> <td>GIT:</td>  <td>how to push to or pull from a remote repository</td> </tr>
      <tr> <td>GIT:</td>  <td>how to clone a remote repository</td> </tr>
      <tr> <td>GIT:</td>  <td>how to collaborate by pushing to a common repository</td> </tr>
	  <tr> <td>GIT:</td>  <td>how to create, use, and merge branches</td> </tr>
    </table>
  </div>
  
 
</div>
